letsencrypt:
  use_package: true                              # Install using packages instead of git
  pkg: python-certbot-apache                     # Package name to use. Check https://certbot.eff.org/all-instructions
                                                 # to find the correct name for the variant you want to use.
  add_individual_crons: false                    # certbot's package uses a systemd's timer unit to try to renew the
                                                 # certificates twice a day, so crons are not needed anymore.

  cli_install_dir: /opt/letsencrypt
  post_renew:
    cmds:

  config: |
    server = https://acme-v01.api.letsencrypt.org/directory
    email = webmaster@example.com
    authenticator = webroot
    webroot-path = /var/lib/www
    agree-tos = True
    renew-by-default = True
  domainsets:
    www:
      - example.com
      - www.example.com
    mail:
      - imap.example.com
      - smtp.example.com
      - mail.example.com
    intranet:
      - intranet.example.com
  post_renew:
    cmds:
      - service nginx reload
      - service haproxy reload
