#!/bin/bash
{% from "letsencrypt/map.jinja" import letsencrypt with context %}
COMMON_NAME="$1"

{{ letsencrypt.cli_install_dir }}/letsencrypt-auto renew --non-interactive || exit 1
  cat /etc/letsencrypt/live/${COMMON_NAME}/fullchain.pem \
  /etc/letsencrypt/live/${COMMON_NAME}/privkey.pem \
  > /etc/letsencrypt/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1
  chmod 600 /etc/letsencrypt/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1